@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Generics */

p, h1, h2, h3, h4, div {
  color: white;
}

body {
  background-color: rgba(17, 24, 39);
}

input {
  color: black;
  border-radius: 5px;
  outline: none;
}

span {
  color: black;
}

/* Custom Classes */

.marker-active {
  z-index: 1;
}

.btn {
  padding: 8px 25px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: .3s ease;
}

.btn:hover {
  transition: .3s ease;
}

.btn-primary {
  background-color: #ffae0f;
  color: black;
}

.btn-primary:hover {
  background-color: #c58400;
  color: white;
}

.btn-secondary{
  background-color: rgba(199, 199, 199, 0.32);
  color: black;
}

.btn-secondary:hover {
  background-color: rgba(199, 199, 199, 0.75);
}
